@import '../../defaults.scss';

.lists-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 30%;
  @include flex(column, center, center);
}

.single-list-container {
  margin: 5px 0px 5px 0px;
  flex-wrap: wrap;
  @include flex(row, space-between, center);
}

.card {
  width: 18%;
  border: 0.6px solid $ACCNT_PURPLE;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 6px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(255,92,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  .main-listing {
    color: $ACCNT_GRAY_LITE;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1rem;
  }
  .sub-listing {
    font-size: 0.8rem;
    padding: 8px 0px 0px 0px;
  }
}